* {
  box-sizing: border-box;
}

.app {
  background-color: #fff;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px
}

nav {
  max-width:300px;
  text-align: center;
}